* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 10px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

.content{
  a{
    text-decoration: none
  }
}

/*------------------------------*/
.blurb{
  text-align: center;
  margin-top: 95px;
  color: rgb(192, 12, 12);
  font-weight: 500 !important;
  line-height: 1em !important;
}
.h1{
  text-align: center;
  margin-top: 20px;
  font-size: larger;
  color: #000000 !important;
  font-weight: 800 !important;
  line-height: 1em !important;
  font-size: 3em !important;
  
}
.p {
  text-align: center;
  margin-top: 201px;
}

.text-success {
  color:#198754!important; 
}

@media (min-width: 768px) {
  /* Khi màn hình có chiều rộng từ 768px trở lên */
  .banner {
    width: 50%; /* thu nhỏ banner xuống 50% chiều rộng của màn hình */
  }
}
.banner{
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffffff5;
  font-size: 64px;
  /* Các kiểu khác cho tiêu đề trên hình ảnh */
}

@media (max-width: 768px) {
  /* Khi màn hình có chiều rộng từ 768px trở lên */
  .image-container h1 {
    text-align: center;
    font-size: auto; /* thu nhỏ banner xuống 50% chiều rộng của màn hình */
  }
}

.dropdown {
  display: block;
}

.row{
  margin-top: 30px !important;
  margin-left: 45px !important;
  
}
@media (max-width: 768px) {
  /* Khi màn hình có chiều rộng từ 768px trở lên */
  .row {
    margin-left: center;
    font-size: auto; /* thu nhỏ banner xuống 50% chiều rộng của màn hình */
  }
  .form-control{
    width: 50%
  }
}
.form-control{
    margin-left: center;
    width: 520px;
}


.button{
  margin-top: 40px;
  padding: 10;
}
.button-btn1 {
  position: relative;
  background-color: #f8f9fa;
  border: none;
  font-size: 18px;
  color: #030303;
  padding: 8px;
 
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.button-btn {
  position: relative;
  background-color: #000000;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 8px;
 
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button-btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 40px;
}

.form-row {
  display: flex;
  gap: 40px;
  height: 40px;
  width: 70px;
}


.form-row-2 {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  height: 200px;
  width: auto;
}

.form-label {
  width: 70px;
  font-weight: 54 0;
}

.form-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-select {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-textarea {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-image {
  max-width: 200px;
}
.form-image1{
  max-width: 100px;
}
.form-image2 {
  max-width: 75px;
  border: 1px solid #bdbdbd; 
  border-radius: 10px;
  
}
.form-image3 {
  max-width: 190px;
  border: 1px solid #bdbdbd; 
  border-radius: 5px;
  
}
.summary-order{
  padding: 10px
}
.form-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
}
.form-container {
  padding: 10px;
}

.form-label,
.form-input,
.form-select,
.form-textarea {
  padding: 10px;
}

.btn1 {
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  border: none;
  border-radius: 4px;
  padding: 5px;
  height: 35px;
  width: 75px;
}


.btn {
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  margin-left: 20px;
}
.btn-sm {
    --bs-btn-padding-y: 0.46rem;
    --bs-btn-padding-x: 0.7rem;
    --bs-btn-font-size: 0.9rem;
    --bs-btn-border-radius: var(--bs-border-radius);
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.page-container1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 35px;
}

.page-button {
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  opacity: 0.5; /* Điều chỉnh độ mờ của nút */
  pointer-events: none; /* Tắt sự kiện click */
}

.page-button:hover {
  background-color: #e0e0e0;
}

.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.form_container{
  
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
@media screen and (max-width: 700px) {

  .form_container{
    width: 65%;
  }

  
}
.error-message {
  color: red;
  display: block;
  margin-top: 5px;
}
.error-message {
  color: red;
  display: block;
  margin-top: 5px;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
.error-input {
  border: 1px solid red;
}

.scrolls{
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.5;
  writing-mode: vertical-rl;
  text-orientation: upright;
  }

  .active {
    text-decoration: underline !important;
    text-decoration-color: #198754 !important;
    text-decoration-color: #198754 !important;
  }
  
  .table-container {
    float: left;
    width: 70%;
  }
  
  .total-container {
    float: right;
    width: 30%;
  }

  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
   
  }
  
  .submit-button {
    background-color: #08090a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px }
  .checkout-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .checkout-form {
    flex: 1;
    margin-right: 20px;
    margin-left: 90px;
  }
  
  .order-summary {
    flex: 1;
    margin-left: 20px;
    background-color: #fafafa;

  }
  
  .summary-title {
    
    font-size: 20px;
    margin-bottom: 10px;
  }
  .order-summary-item {
    flex: 1;
    margin-left: 30px;
   

  }

  .field1 {
    display: flex;
    justify-content: space-between;
  }
  
  .field-input-wrapper {
    flex: 1;
    margin-right: 10px; /* Khoảng cách giữa các phần tử */
  }
  
  .field-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .field-input {
    width: 100%;
  }

@media (min-width: 750px){
.field-third {
    width: 33.33333% !important;
}
}

.title-summary{
  margin-top: 30px !important ;
  margin-left: 30px;
}

.login.template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo1 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  border: none !important;
  font-weight: 500 !important;
}

.ui.link.cards .card .header,
.ui.link.cards .card .meta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.link.cards .card {
  width: 100%;
  height: 425px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.quantity-value {
  font-size: 0.85em;
  position: absolute;
  color: #FFFFFF;
  top: -14px;
  right: -12px;
  background-color: #c8c8c8;
  padding: 0.15em 0.65em;
  border-radius: 2em
  
}
.main-img {
  margin-right: 10px;
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
}
 
 .content-box {
  box-shadow: 0 0 0 1px #d9d9d9;
  border-radius: 4px;
  background: #fff;
  color: #737373;
  margin-top: 1em;
  margin-bottom: 1.5em;

}
.radio-content-input{
 

  background: #fff;
  color: #737373;
  margin-top: -1.6em;
  width: 500px;
  margin-left: 1.2em;
}
.radio-content-input {
  display: flex;
  align-items: center;
}

.main-img {
  margin-right: 10px;
}

.labelstyle{
  display: flex;
  align-items: center;
} 

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  flex-basis: 150px;
  margin-right: 10px;
}

.form-input {
  flex-grow: 1;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.empty-cart-message {
  font-size: 24px !important;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;
  font-weight: bolder;
}

.thank-you-heading {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.button-thank {
  background-color: #198754;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}
.thank-you-content{
  font-size: 24px !important;
}

.thank-you-info{
  font-size: 24px !important;
  color: #000;
  font-weight: normal !important;
  margin-right: 5px !important;
  margin-left:  5px !important;
}

.cursor-pointer {
  cursor: pointer;
}
.text-view {
  color: rgb(50, 134, 81);
  text-decoration: underline;
}
.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-form {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
}

.contact-info {
  flex: 1;
  padding: 20px;
  background-color: #e9e9e9;
}

.contact-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  
  
}
.input-field-1 {
  width: 176%;
  padding-left: 40px ;
  padding-top: 10px;
  padding-bottom: 10px;

}
.icon-email {
  width: 20px;
  height: 20px;
  margin-left: -30px;
}

.submit-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.address-section,
.phone-section,
.email-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  margin-right: 10px;
}

.info-heading {
  font-size: 16px;
  margin-bottom: 5px;
}

.info-text {
  font-size: 14px;
}
.input-wrapper {
  position: relative;

}


.contact-img {
  position: absolute;
  left: 10px; /* Adjust the value to position the image as desired */
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
 
}